<header class="site-header">
  <a href="https://www.adobe.com/" aria-label="Adobe">
    <picture>
      <img class="brand-logo"
           src="https://main--federal--adobecom.aem.live/federal/ace1201/assets/adobe-logo-white.svg"
           alt="Adobe, Inc.">
    </picture>
  </a>
  <nav aria-label="Main navigation">
    <ul>
      <li><a href="https://www.adobe.com/products/catalog.html">Products</a></li>
      <li><a href="https://www.adobe.com/creativecloud.html">Creative Cloud</a></li>
      <li><a href="https://business.adobe.com/">Business</a></li>
      <li><a href="https://www.adobe.com/creativecloud/buy/students.html">Students</a></li>
    </ul>
  </nav>
  <div class="header-cta">
    <a href="https://www.adobe.com/creativecloud.html" class="con-button button-l">Free trial</a>
  </div>
</header>
